.link {
    display: inline-block;
    text-decoration: none;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }

    &--unstyled {
        text-decoration: none !important;
        color: inherit !important;
    }

    &--underline {
        text-decoration: underline;
    }
}

@include theme('v-application') using($material) {
    .link {
        color: map-deep-get($material, 'colors', 'primary');
    }
}