@mixin elevation($z, $important: false) {
    $umbra: map-get($shadow-key-umbra, $z);
    $penumbra: map-get($shadow-key-penumbra, $z);
    $ambient: map-get($shadow-key-ambient, $z);

    box-shadow: $umbra, $penumbra, $ambient if($important, !important, null);
}

@mixin ds-elevation($z, $important: false) {
    $umbra: map-get($ds-shadow-key-umbra, $z);
    $penumbra: map-get($ds-shadow-key-penumbra, $z);
    $ambient: map-get($ds-shadow-key-ambient, $z);

    filter: drop-shadow($umbra) drop-shadow($penumbra) drop-shadow($ambient) if($important, !important, null);
}
