$bootable-transition: .2s map-get($transition, 'fast-out-slow-in');
$blockquote-font-size: 18px;
$blockquote-font-weight: 300;
$code-background-color: #FBE5E1;
$code-color: #C0341D;
$code-kbd-border-radius: 3px;
$code-kbd-font-size: 85%;
$code-kbd-font-weight: 900;
$code-padding: 0 .4rem;
$kbd-color: #FFFFFF;
$kbd-padding: .2rem .4rem;
$kbd-background-color: #212529;
$input-top-spacing: 16px;
$text-field-active-label-height: 12px;
$scrollbar-width: 4px;
